<header style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="alert alert-warning" role="alert">
    {{alert}}
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="input-group mb-3 col-md">
      <div class="input-group-prepend">
        <span class="input-group-text">Username:</span>
      </div>
      <input type="text" [(ngModel)]="uname" class="form-control" placeholder="Username" aria-label="Username" name="username"
        required>
    </div>
    <div class="input-group mb-3 col-md">
      <div class="input-group-prepend">
        <span class="input-group-text">Password:</span>
      </div>
      <input type="password" [(ngModel)]="passwd" class="form-control" placeholder="Password" aria-label="Username"
        name="password" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md mt-2">
      <button id="submitRegisternButton" (click)="onRegisterClickCallback()" class="btn btn-success w-100" type="button">Register</button>
    </div>
    <div class="col-md mt-2">
      <button id="submitLoginButton" (click)="onLoginClickCallback()" class="btn btn-primary w-100" type="button">Login</button>
    </div>
  </div>
</div>
