.center-horiz{
    float: none;
    margin: 0 auto;
}

#game-board {
    max-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    left: 0px;
    top: 0px;
    position: relative;
    transform-origin: 0px 0px;
    margin-top: 40px;
}

.trex-walk {
    height: 50px;
    width: 45px;
    object-fit: none;
    position: absolute;
    animation: trex-walk 0.3s steps(2) infinite;
    transform-origin: 0px 0px;
}

@keyframes trex-walk{
    from {background-position: 440px 0px;}
    to {background-position: 352px 0px;}
}


.trex-bent {
    height: 30px;
    width: 58px;
    object-fit: none;
    position: absolute;
    animation: trex-bent 0.3s steps(2) infinite;
    transform-origin: 0px 0px;
}

@keyframes trex-bent{
    from {background-position: -999px -20px;}
    to {background-position: -881px -20px;}
}

.bird {
    height: 50px;
    width: 45px;
    object-fit: none;
    position: absolute;
    animation: bird 0.3s steps(2) infinite;
    transform-origin: 0px 0px;
}

@keyframes bird{
    from {background-position: 1024px 0px;}
    to {background-position: 1116px 0px;}
}

.trex-2 {
    height: 50px;
    width: 45px;
    object-fit: none;
    background-position: -809px 0px;
    transform-origin: 0px 0px;

}

.replay-button{
    height: 40px;
    width: 40px;
    object-fit: none;
    background-position: 0px 0px;
    position: absolute;
    transform-origin: 0px 0px;
}

// full-length
.ground-full {
    height: 15px;
    width: 100%;
    object-fit: none;
    background-position: 0px -55px;
    position: absolute;
    transform-origin: 0px 0px;
}

// flat
.ground-0 {
    height: 15px;
    width: 100%;
    object-fit: none;
    background-position: 0% -55px;
    position: absolute;
    transform-origin: 0px 0px;
}

// bumpy
.ground-1 {
    height: 15px;
    width: 100%;
    object-fit: none;
    background-position: 100% -55px;
    position: absolute;
    transform-origin: 0px 0px;
}

// initial
.trex-init {
    height: 50px;
    width: 45px;
    object-fit: none;
    background-position: -40px 0px;
    position: absolute;
    transform-origin: 0px 0px;
}

.trex-jump {
    height: 50px;
    width: 45px;
    object-fit: none;
    background-position: -675px 0px;
    position: absolute;
    transform-origin: 0px 0px;
}

.trex-dead {
    height: 50px;
    width: 45px;
    object-fit: none;
    background-position: -895px 0px;
    position: absolute;
    transform-origin: 0px 0px;
}

.cloud {
    height: 20px;
    width: 50px;
    object-fit: none;
    background-position: -85px 0px;
    position: absolute;
    transform-origin: 0px 0px;
}

.cactus-0 {
    height: 40px;
    width: 17px;
    object-fit: none;
    background-position: -228px 0px;
    position: absolute;
    transform-origin: 0px 0px;
}

.cactus-1 {
    height: 40px;
    width: 34px;
    object-fit: none;
    background-position: -245px 0px;
    position: absolute;
    transform-origin: 0px 0px;
}

.cactus-2 {
    height: 40px;
    width: 50px;
    object-fit: none;
    background-position: -280px 0px;
    position: absolute;
    transform-origin: 0px 0px;
}

.cactus-large-0 {
    height: 55px;
    width: 25px;
    object-fit: none;
    background-position: -332px 0px;
    position: absolute;
    transform-origin: 0px 0px;
}

.cactus-large-1 {
    height: 55px;
    width: 50px;
    object-fit: none;
    background-position: -357px 0px;
    position: absolute;
    transform-origin: 0px 0px;
}

.cactus-large-2 {
    height: 55px;
    width: 74px;
    object-fit: none;
    background-position: -408px 0px;
    position: absolute;
    transform-origin: 0px 0px;
}

.game-over {
    height: 14px;
    width: 195px;
    object-fit: none;
    background-position: -482px -14px;
    position: absolute;
    transform-origin: 0px 0px;
}