<div id="main" class="container h-100 d-inline-block mh-100 mw-100 w-100">

  <!-- Notification when game was not started. -->
  <div class="row" *ngIf="!isRunning && !gameEnded && !invalidSize">
    <div class="col">
      <div class="row">
        <header>
          <h1>
            Welcome to Trex Runner!
          </h1>
        </header>
      </div>
      <div class="row">
        <div class="alert alert-warning w-100 text-center" role="alert" *ngIf="!isRunning && !gameEnded && !invalidSize">
          <strong>God mode: Become 💯% awesome!</strong><br>Lasts 6s, regenerates on every third level. You can kill
          enemies and every killed enemy gives you 10,000 points! Oh, and you can also fly!
        </div>
      </div>
      <div class="row">
        <button *ngIf="imageLoaded && !invalidSize" class="btn btn-primary w-100" (click)="startClickedCallback()">start
          game</button>
      </div>
    </div>
  </div>

    <!-- Notification title after the game ended. -->
  <div class="row" *ngIf="gameEnded">
    <header>
      <h1>Congratulations!</h1>
      <p>Your score: <strong>{{score}}</strong></p>
    </header>
  </div>


  <!-- The game -->
  <div class="row d-flex justify-content-center center-horiz" (window:keydown)="onKey($event)" id="game-board" *ngIf="imageLoaded"
    [style.height.px]="boardSize.height * boardSize.scaling" [style.width.px]="boardSize.width * boardSize.scaling"
    [style.transform]="'scale(' + boardSize.scaling + ')'">
    <div [className]="ground.typeName" [style.left.px]="ground.xPos" [style.top.px]="(boardSize.height - ground.yPos)"
      [style.background-image]="'url(' + ground.spriteSrc + ')'" [style.transform]="'scale(' + boardSize.scaling + ')'"></div>

    <div [className]="trex.typeName" [style.left.px]="trex.pos.xPos" [style.top.px]="(boardSize.height - trex.top)"
      [style.background-image]="'url(' + trex.spriteSrc + ')'" [style.transform]="'scale(' + boardSize.scaling + ')'"></div>

    <div *ngFor="let i of enemies" [className]="i.typeName" [style.left.px]="i.pos.xPos" [style.top.px]="(boardSize.height - i.top)"
      [style.background-image]="'url(' + i.spriteSrc + ')'" [style.transform]="'scale(' + boardSize.scaling + ')'"></div>
  </div>


  <!-- Loading notification when slower connection. -->
  <div class="row">
    <section *ngIf="!imageLoaded">
      <p>Please wait while the game elements are loading...</p>
    </section>
  </div>

    <!-- When game ended, score is shown and user can write his comment. -->
  <div class="row">
    <div class="col" *ngIf="gameEnded">
      <div class="row">
        <section>
          <p>{{alert}}</p>
        </section>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-md">
          <input type="text" [(ngModel)]="comment" class="form-control" placeholder="If you wish, add a comment..."
            required>
        </div>
      </div>
      <span class="badge badge-secondary ml-3 mr-3" *ngIf="comment.length <= 255">
        Length: <span class="badge badge-light">{{comment.length}} / 255</span>
      </span>
      <span class="badge badge-secondary ml-3 mr-3" *ngIf="comment.length > 255">
        Length: <span class="badge badge-danger">{{comment.length}} / 255</span> <span class="text-danger">The overflow will be cut!</span>
      </span>
      <div class="row" *ngIf="comment.length > 255">
        <p class="text-danger">The overflow will be cut!</p>
      </div>
      <div class="row">
        <div class="col-md mt-2">
          <button class="btn btn-primary w-100" (click)="noClickedCallback()">No, thanks</button>
        </div>
        <div class="col-md mt-2">
          <button class="btn btn-success w-100" (click)="yesClickedCallback()">Post comment</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Game HUD -->
<h4>
  <p class="fixed-bottom mx-auto" *ngIf="imageLoaded && isRunning && !invalidSize">
    <span class="badge badge-warning ml-3 mr-3">
      Jump: <span class="badge badge-light">Up / Space</span>
      Duck: <span class="badge badge-light">Down / Ctrl</span>
      Bash down: <span class="badge badge-light">Down / Ctrl</span>
      God mode: <span class="badge badge-light">M</span>
    </span>
    <span class="badge badge-secondary ml-3 mr-3">
      Score: <span class="badge badge-light">{{score}}</span>
    </span>
    <span class="badge badge-success ml-3 mr-3" *ngIf="!godUsed && !isGod">
      GodMode: <span class="badge badge-light">available</span>
    </span>
  </p>
</h4>