<header>
    <h1>Your stats</h1>
  </header>
  
  <div class="container-fluid">
  <div class="row" *ngIf="inValidStats">
    <p class="lead">You didn't complete a game yet!</p>
  </div>
  
  <div class="row" *ngIf="validStats">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col">#time</th>
            <th scope="col">Score</th>
            <th scope="col">Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of scores">
            <td>{{i.dateString}}</td>
            <td><strong>{{i.score}}</strong></td>
            <td>{{i.comment}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>