<header>
  <h1>Global Ranking</h1>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" *ngIf="validRanking">
      <p><strong>Your ranking: </strong> #<em>{{ranking}}</em> of {{total}}</p>
    </div>
    <div class="col-md-6" *ngIf="!validRanking">
      <p><strong>Your ranking: </strong> <em>Play a game to analyze your ranking!</em></p>
    </div>
    <div class="col-md-6">
      <p><strong>Highscore: </strong> <em>{{userScore}}</em></p>
    </div>
  </div>
  <div class="row" *ngIf="!validStats">
    <p class="lead">Nobody played the game yet, make a highscore if you're fast enough! 😉</p>
  </div>

  <div class="row" *ngIf="validStats">
    <table class="table tab table-sm table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of scores; let j = index">
          <!--<th scope="row">1</th>-->
          <td scope="row">{{j + 1}}</td>
          <td>{{i.comment}}</td>
          <td>{{i.score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>