.brand-inner{
    white-space: nowrap !important;   
}

.brand-outer{
    background-color: #ff8f00 !important;
    border-color: #ff8f00 !important;
}

.brandh{
    background-color: rgba(255, 240, 240, 0) !important;
}
