<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/game">
    <h4 class="brandh"><span class="badge badge-secondary ml-3 mr-3 brand-outer">
        <span class="badge badge-light brand-inner">🦖</span> Runner
      </span></h4>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active align-middle" routerLink="/game">Play</a>
      <a class="nav-item nav-link active align-middle" routerLink="/ranking">Global ranking</a>
      <a class="nav-item nav-link active align-middle" routerLink="/stats">My stats</a>
      <a class="nav-item nav-link align-middle" *ngIf="isLoggedOut" routerLink="/login">Login</a>
      <a class="nav-item nav-link align-middle" *ngIf="isLoggedIn" routerLink="/logout">Logout</a>
      <h5 class="nav-item brandh align-middle" *ngIf="isLoggedIn">
        <span class="badge badge-secondary ml-3 mr-3 brand-outer">
          Logged in as: <span class="badge badge-light brand-inner">{{userName}}</span>
        </span>
      </h5>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>