<header style="text-align:center">
    <h1>Nahwt so fast mate!</h1>
  <div class="alert alert-warning" role="alert">
      {{name}}, ya sure ya wan-ta log out?
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md mt-2">
      <button class="btn btn-success w-100" (click)="yesClickedCallback()">Sure!</button>
    </div>
    <div class="col-md mt-2">
      <button class="btn btn-primary w-100" (click)="noClickedCallback()">Naw ay'm gunna stay!</button>
    </div>
  </div>
</div>