/*
My own color palette, created with Adobe Color:
https://color.adobe.com/Trex-color-theme-11845899/

color names from:
http://chir.ag/projects/name-that-color/
*/

//BG-color
$whiterock: #F0F0DF;//#F4F4F4;

//Table even rows. 
$zigurrat:#BDD3DE;

//Table selected row.
$morningglory:#95D3DE;

// H2,H3 color.
$fiord: #3F5866;

//Navbar, Title
// 🍕
$pizazz: #FF8F00;


//Bootstrap colors, only used to satisfy Grunt when no BG-color was set.
$bootstrapnavbar: #f8f9fa;
$bootstrapblack: #212529;

//Alias for black, so I won't need to change it eventually at multiple places, only here.
$blackestblack: black;




//Body
html, body{
	width: 100%;
	color: $bootstrapblack;
	background-color: $whiterock !important;
}

.col-text{
	color: $bootstrapblack;
	background-color: $whiterock !important;
}


//Headings
h1,h2,h3{
	color: $pizazz !important;
	background-color: $whiterock !important;
}


// Caption
.carousel-caption{
	color: $pizazz !important;
	background-color: $whiterock !important;
}

.subtitle{
	color: $morningglory !important;
	background-color: $whiterock !important;
}

.btn-success{
    background-color:  #ff8f00 !important;
    border-color:  #ff8f00 !important;
}

.btn-primary{
    background-color:  #3F5866 !important;
    border-color:  #ff8f00 !important;
}

//Lists
.sublist-li{
	list-style: none;
}


//Navbar
.navbar-light .navbar-toggler{
	color: $pizazz !important;
	background-color: $bootstrapnavbar !important;
	border-color: $pizazz !important;
}

.navbar, .navbar ul, .navbar li, .navbar a, .navbar-nav, .nav-item{
	color: $pizazz !important;
	background-color: $bootstrapnavbar !important;
}

.navbar a:hover,  .navbar:hover{
	color: $fiord !important;
	background-color: $bootstrapnavbar !important;
}


//Dropdowns
.dropdown-item,  .dropdown-item.active, .dropdown-item:active{
	color: $pizazz !important;
	background-color: $bootstrapnavbar !important;
}

.dropdown-menu{
	color: $pizazz !important;
	background-color: $bootstrapnavbar !important;
}

.dropdown-item:hover{
	color: $fiord !important;
	background-color: $bootstrapnavbar !important;
}


//Tables
th{
	color: $whiterock !important;
	background-color: $pizazz !important;
	border: 2px dashed $bootstrapblack !important;
}

td{
	//background-color: $whiterock !important;
	border: 2px dashed $bootstrapblack !important;
}

tr{
	color: $bootstrapblack;
	background-color: $whiterock !important;
}

tr:nth-child(even){
	color: $bootstrapblack;
	background-color: $zigurrat !important;
}

tr:hover{
	color: $blackestblack !important;
	background-color: $morningglory !important;
}